/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  justify-content: space-around;
}

.dialog-wrapper {
  min-width: 300px;
}

.mat-calendar-body-cell.highlight-class {
  background-color: lime;
}
