<!-- <ul>
  <li *ngFor="let task of tasks">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
  </li>
</ul> -->

<!-- <app-task [task]="task"></app-task> -->

<ul>
  <li *ngFor="let task of tasks">
    <app-task [task]="task"></app-task>
  </li>
</ul>

<!-- <ul>
  <li *ngFor="let task of tasks">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <button
      mat-icon-button
      (click)="clicked(task.id, task.title, task.description)"
    >
      <span class="material-symbols-outlined"> edit </span>
    </button>
    <button mat-icon-button>
      <span class="material-symbols-outlined"> delete </span>
    </button>
  </li>
</ul> -->
